@import '../props.scss';

.screen {
    background-color: #00d;
    margin: #{$my_screen}px auto;
    width: $width;
    min-height: calc( 100vh - #{($my_screen * 2)}px );
    border-radius: $main-border-radius;
    box-shadow: 10px 5px 25px #3c3c3c;
}