.task {

    
    box-shadow: 5px 1px 5px #111;
    margin-bottom: 15px;

    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    h1 {
        font-size: 25px;
    }
    
}

.red {
    border-left: 10px solid red;
}

.blue {
    border-left: 10px solid blue;
}

.green {
    border-left: 10px solid green;
}

.yellow {
    border-left: 10px solid yellow;
}

.black {
    border-left: 10px solid black;
}
